.FilmListItem{
    border: 1px solid black;
    padding: 15px;
}
.FilmListItem:last-child{
    margin-bottom: 0;
}

.text{
    padding: 5px 0;
}

.description{
    color: black;
    font-weight: bold;
}
