.searchInput{
background: #fff;
padding: 20px;
width: 80%;
}

.inputItem{
display: flex;
align-items: center;

}

.radioInput{
margin-right: 10px;
}

.label{
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
}

.textInput{
 display: block;
 padding: 15px 15px 15px 40px;
 width: 100%;
 font-weight: 300;
 border: 2px solid #dcdcdc;
 outline: none;
 background-color: #fff;
 color: #000;
 transition: .3s ease;
 font-size: 17px;
 border-radius: 5px;
}

.textInput:focus{
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
  border: 1px solid rgba(220,220,220,0.4);
}

.imgSearch{
    width: 20px;
    height: auto;
    position: absolute;
    left: 0px;
    transform: translateX(50%);
}

.inputItem:last-child{
position: relative;
}