.Error_Indicator{
    text-align: center;
    width: 100%;
}

.Error_Indicator img {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: .6rem;
}

.h-text, .p_text{
    color: rgb(223, 108, 63);
    margin: .3rem;
}